<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="nhamlViewEngine"
			type="MvcContrib.NHamlViewEngine.Configuration.NHamlViewEngineSection, MvcContrib.NHamlViewEngine" />
	</configSections>
	
	<nhamlViewEngine production="false">
		<views>
			<assemblies>
				<clear />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<namespaces>
				<clear />
				<add namespace="System.Collections" />
			</namespaces>
		</views>
	</nhamlViewEngine>
  
</configuration>