<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nhamlViewEngine" 
             type="MvcContrib.NHamlViewEngine.Configuration.NHamlViewEngineSection, MvcContrib.NHamlViewEngine" />
  </configSections>

  <nhamlViewEngine production="false"  />
  
</configuration>